<html lang="en">
    
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about content ">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae eos aperiam, eum dolore quia, harum sit illo ullam
                similique itaque magnam earum temporibus! A fugiat at amet error
                dolore quibusdam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae eos aperiam, eum dolore quia, harum sit illo ullam
                similique itaque magnam earum temporibus! A fugiat at amet error
                dolore quibusdam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae eos aperiam, eum dolore quia, harum sit illo ullam
                similique itaque magnam earum temporibus! A fugiat at amet error
                dolore quibusdam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae eos aperiam, eum dolore quia, harum sit illo ullam
                similique itaque magnam earum temporibus! A fugiat at amet error
                dolore quibusdam.</p>
        </div>
        <%- include('./partials/footer.ejs') %>

    </body>
</html>