<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="not-found content ">
            OOPS , page not found :)
        </div>
        <h1>home</h1>
        <h2>your path to became a node.js ninjas</h2>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>